body{
    background-color: rgb(160, 77, 77);
    box-shadow: -40px 20px 40px 0px rgba(54, 54, 54, 0.685);
    width: 1100px;
    display: flex;
    margin:50px 250px 50px 370px;
    padding:0px 0px 0px 20px;
    font-family: 'Times New Roman', Times, serif; 
    border-top-left-radius: 50px;
}
html{
    background:linear-gradient(to left,rgb(29, 29, 29)1%,rgb(158, 158, 158)30%);
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    background-attachment: fixed;
}
#contacts{
    min-width: 350px;
    width: 350px;
    height: auto;
    background-color:rgb(39, 39, 39);
        border-top-left-radius: 50px;
                
}
#me {
    width: 765px;
    margin: 20px 0px 20px 0px;
    height: auto;
        background-color:rgb(255, 255, 255);
            box-shadow: 0px 0px 0px black;
            padding:0px 0px 20px 0px;
            
}
main{display: flex;
width: 1070px;margin: 0px 0px 0px 0px;}
#foto{
    width: 120px;
    height: 120px;
   margin: 40px 50px 20px 110px;
   border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid black;
   box-shadow: 70px 20px 0px rgb(255, 251, 251),-70px -20px 0px rgb(248, 248, 248);
}
#contacts h1{
    background-color: rgb(90, 92, 91);
    margin:20px 0px 10px 0px;
    font-size: 25px;
    text-indent: 20px;
    color:aliceblue
}
h1{
    font-family: 'Julius Sans One', sans-serif;
}

#me h2{
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}
h2,h3,li{
    font-size: 13px;
    margin:0px 0px 0px 20px;
    line-height: 30px;
font-family: 'Julius Sans One', sans-serif;}
h3{margin: 0px;}
.little{
    width: 13px;
    height: 20px;
    margin: 0px 10px 0px 20px;
    border-radius: 3px;
}
.medium {
    width: 30px;
    height: 30px;
    margin: 0px 150px 0px 20px;
    padding: 20px 0px 0px 0px;}
.inf{
    margin:0px 0px 0px 0px;
    font-size: 20px;
    color: aliceblue;
}
.a{margin: 20px 0px 20px 0px;}
a{color:rgb(255, 255, 255);
font-size: 20px;
margin: 0px 0px 0px 10px;
}
ul{display: flex;margin: 0px;}
li{margin: 0px 0px 0px 10px;
font-size: 20px;}
.languages,.skill{display: flex;margin: 0px 0px 0px 0px;}
h2,
h3,
#contacts li {
    margin: 0px 0px 0px 10px;
    line-height: 30px;color: aliceblue;}
    #me ol li,p{
font-family: 'Farsan', cursive;line-height: 36px;}
@media (min-width: 100px) {
    html{transform: scale(0.1);background-repeat: no-repeat;background: linear-gradient(to left, rgb(29, 29, 29)1%, rgb(158, 158, 158)30%);}
}